{% set title = 'Heading' %}

{% if title is defined and title is not empty %}
<div class="text-center mb-3">
  <h3>{{title}}</h3>
</div>
{% endif %}

<div class="cards">
  {% for i in 1..3 %}
    {% include '../../modules/white-box/white-box.twig' %}
  {% endfor %}
</div>
