/**
 * Carousel
 */

.carousel-tiles {
  position: relative;

  .swiper-slide {
    height: auto;
  }
}

.swiper-button {
  position: absolute;
  top: calc(50% - 20px);
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: $color-white;
  opacity: 0.5;

  path {
    fill: currentColor;
  }
}

.swiper-button-next {
  right: -60px;    
} 

.swiper-button-prev {
  left: -60px;    
} 