<div class="carousel-tiles mb-4" data-js="carousel">
    <div class="swiper-container">
      <div class="swiper-wrapper">
      {% for i in 1..6 %}
        <div class="swiper-slide">
          {% include '../../modules/white-box/white-box.twig' %}
        </div>
      {% endfor %}
      </div>
  </div>

  <!-- Add arrows -->
  <button type="button" class="d-none d-lg-flex btn swiper-button swiper-button-prev">
    <svg xmlns="http://www.w3.org/2000/svg" width="11.815" height="20.11" viewBox="0 0 11.815 20.11">
      <g transform="translate(11.815 20.11) rotate(180)">
        <path
          d="M112.972,9.27,104.023.321a1.1,1.1,0,0,0-1.556,0l-.659.659a1.1,1.1,0,0,0,0,1.556l7.515,7.515L101.8,17.574a1.1,1.1,0,0,0,0,1.556l.659.659a1.1,1.1,0,0,0,1.556,0l8.958-8.957a1.11,1.11,0,0,0,0-1.561Z"
          transform="translate(-101.478)"/>
      </g>
    </svg>
  </button>

  <button type="button" class="d-none d-lg-flex btn swiper-button swiper-button-next">
    <svg xmlns="http://www.w3.org/2000/svg" width="11.815" height="20.11" viewBox="0 0 11.815 20.11">
      <path
        d="M112.972,9.27,104.023.321a1.1,1.1,0,0,0-1.556,0l-.659.659a1.1,1.1,0,0,0,0,1.556l7.515,7.515L101.8,17.574a1.1,1.1,0,0,0,0,1.556l.659.659a1.1,1.1,0,0,0,1.556,0l8.958-8.957a1.11,1.11,0,0,0,0-1.561Z"
        transform="translate(-101.478)"/>
    </svg>
  </button>
</div>

