{#
  HTML: /modules/navbar/navbar.twig
  CSS:  /modules/navbar/navbar.scss
  JS:   /modules/navbar/navbar.js

  States:

  * Default:
    <nav class="navbar">

  * Fixed to top:
    <nav class="navbar navbar--fixed">

  * Fixed to top with "transparent animation":
  * Navbar becomes transparent when scrolling down.
    <nav class="navbar navbar--fixed navbar--fixed-transparent">

  * Fixed to top with "show / hide animation":
  * Navbar slides out of view when scrolling down
  * and slides back in when scrolling up.
    <nav class="navbar navbar--fixed navbar--fixed-toggle">

  * Notes:
  * It fires when we scroll more than 150px from to the top.
  * You can change the value in the navbar.js
#}

  <nav class="navbar navbar--fixed navbar--fixed-transparent" data-js="navbar">
    <div class="container">
      <div class="navbar__wrapper">
        <a class="navbar__brand" href="index.html">
          <span class="sr-only">Logo</span>
          <picture class="img-flex">
            <source media="(min-width: 38em)" srcset="assets/img/logo-2x.png 2x, assets/img/logo-1x.png 1x">
            <img src="assets/img/logo-1x.png" srcset="assets/img/logo-2x.png 2x, assets/img/logo-1x.png 1x" alt="company logo">
          </picture>
        </a>
      </div>
    </div>
  </nav>
