{% extends '../layouts/default.twig' %}
{% set head_title = 'Home Page' %}
{% set body_class = '' %}

{% block page %}

  {% include '../../modules/navbar/navbar.twig' %}

  <main id="main">
    <div class="bg-primary">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-11">
              {% include '../../modules/heading/heading.twig' %}
              {% include '../../modules/carousel/carousel.twig' %}
              {% include '../../modules/dot/dot.twig' %}
          </div>
        </div>

      </div>  
    </div>


    <div class="bg-light pb-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-11">
              {# Start Only for demo purpose please use heading.twig component and define variables inside component #}
              {% include '../../modules/heading/heading-black.twig' %}
              {# End #}
              {% include '../../modules/cards/cards.twig' %}
          </div>
        </div>

      </div>  
    </div>
  </main>

  {% include '../components/footer.twig' %}

{% endblock %}
