<div class="white-box__cell">
  <div class="white-box bg-white text-center px-3 py-3">
    <div class="white-box__title">
      <h2 class="h4">Ultra Mega Super Long Heading</h2>
    </div>
    <div class="white-box__copy">
      <p class="text-secondary">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ratione.</p>
    </div>
    <div class="white-box__logo">
      <picture class="img-flex">
        <source media="(min-width: 38em)" srcset="assets/img/thumb-2x.png 2x, assets/img/thumb-1x.png 1x">
        <img class="mx-auto" src="assets/img/thumb-1x.png" srcset="assets/img/thumb-2x.png 2x, assets/img/thumb-1x.png 1x" alt="company thumb">
      </picture>
    </div>
  </div>
</div>
