.white-box__cell {
  width: 100%;
  margin-bottom: 20px;
  
  @include media-breakpoint-up(md) {
    width: 50%;
  }

  @include media-breakpoint-up(lg) {
    width: 33.3333%;
  }

  // Modifier for carousel
  .swiper-slide & {
    width: 100%;
  }
}

.white-box  {
  height: 100%;

  @include media-breakpoint-up(md) {
    margin-right: 20px;

    &:nth-child(2n+2) {  
      margin-right: -20px;
    }
  }
  @include media-breakpoint-up(lg) {
    &:nth-child(2n+2) {  
      margin-right: 20px;
    }

    &:nth-child(3n+3) {  
      margin-right: -20px;
    }
  }
}