{# Remove This Component - Only For Demo Purpose #}
{% set modifier = '' %}

<div class="heading text-center pt-4 pb-2 {% if modifier is defined and modifier is not empty %}{{ modifier }}{% endif %}">
  <h2 class="h1">Heading</h2>
  <p class="text-secondary">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
</div>