<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ head_title }} &middot; Frontie</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">
  </head>

  <body{% if body_class is defined and body_class is not empty %} class="{{ body_class }}"{% endif %}>
    <a class="sr-only sr-only-focusable" href="#main">Skip to main content</a>

    {% block page %}{% endblock %}

    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>
    
  </body>
</html>
