/**
 * Colors
 */

// Default text color
$color-text: #222 !default;

// Theme colors
$color-primary: #215398 !default;
$color-secondary: #919191 !default;
$color-white: #fff !default;
$color-light: #f5f5f5 !default;
$color-dark: #343a40 !default;
$color-black: #000 !default;
$color-success: #00b300 !default;
$color-error: #ff3859 !default;

$colors: (
  "default":   $color-text,
  "primary":   $color-primary,
  "secondary": $color-secondary,
  "white":     $color-white,
  "light":     $color-light,
  "dark":      $color-dark,
  "black":     $color-black,
  "success":   $color-success,
  "error":     $color-error
) !default;

// Links
$color-link-color: #007bff !default;
$color-link-color-hover: darken($color-link-color, 20%) !default;
